.dashboardContainer{
    width: 100%;
    max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:auto;
}

.tableDashboardContainer{
  max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:auto;
}

.tableDashboard {
	width:100%;
	height: 300px;
  table-layout: fixed ;
}

 .table-header-dashboard {
	background:#000;
  height: 60px;
 }


.table-data-dashboard {
	flex: 1 1 20%;
 	text-align:center;
	 color: black;
	 background-color:white;
}

/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  } */

  #dashboardDiv{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 33.333%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    width: 100%;
    margin: 0 -5px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .cardDashboard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0); /* this adds the "card" effect */
    padding: 25px;
    text-align: center;
    background-color: #f1f1f1;
    width:95%;
    border-radius: 5px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  