@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

// body {
// 	padding:$base-spacing-unit;
// 	font-family:'Source Sans Pro', sans-serif;
// 	margin:0;
// }

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:50vh;
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

 .table-header {
// 	display:flex;
// 	width:100%;
	background:#000;
// 	padding:($half-spacing-unit * 1.5) 0;
 }

// .table-row {
// 	display:flex;
// 	width:100%;
// 	padding:($half-spacing-unit * 1.5) 0;
	
// 	&:nth-of-type(odd) {
// 		background:$color-form-highlight;
// 	}
// }

.table-data {
	flex: 1 1 20%;
 	text-align:center;
	 color: black;
	 background-color:white;


}

.pagination{
    width: 55%;     
    margin-left: 37%;
    margin-bottom: 5%;
    position: absolute;
    bottom: 0px;
  }

  span{
    
    display: flex;
    padding: 0.5% 2%;
    color: white;
     justify-content: center;
    margin-left: 2%;
    border-radius: 20%;
    
     
    background-image: linear-gradient(to right,#28517d,#1772FF);
}

span:hover{
    box-shadow: 0 0 2px 2px rgb(214, 231, 244);
}

 .header__item {
// 	width: 10000px;
// 	text-transform:uppercase;
	color: white;
}

