@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

#transactionPageDiv, #transactionPageDiv:before, #transactionPageDiv:after {
	box-sizing:border-box;
}



.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:auto;
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
	table-layout: fixed ;
}

 .table-header {
	background:#000;
 }


.table-data {
	flex: 1 1 20%;
 	text-align:center;
	 color: black;
	 background-color:white;
}

.pagination{
    width: 55%;     
    margin-left: 570px;
    margin-bottom: 20px;
    bottom: 20px;
  }

  #spanPagination{
    display: flex;
    padding: 0.5% 2%;
    color: white;
     justify-content: center;
    margin-left: 2%;
    border-radius: 20%;
    background-image: linear-gradient(to right,#28517d,#1772FF);
}

#spanPagination:hover{
    box-shadow: 0 0 2px 2px rgb(214, 231, 244);
}

 .header__item {
	color: white;
}

// remove filter btn

.removeFilter{
	margin-right: 160px;
}

.btnRemFil {
	appearance: none;
	  -webkit-appearance: none;
	font-family: sans-serif;
	cursor: pointer;
	min-width: 100px;
	height: 40px;
	border: 0px;
	  -webkit-transition: background-color 100ms linear;
	  -ms-transition: background-color 100ms linear;
	   transition: background-color 100ms linear;
  }
  
  .btnRemFil:focus:enabled, .btnRemFil.focus:enabled {
	outline: 0;
  }

  .btnRemFil-round-2 {
	border-radius: 20px;
  }

  .btnRemFil-warning:enabled {
	font-weight: bold;
	background: #f1c40f;
	color: black;
  }

  .btnRemFil-warning:hover:enabled {
	background: #f39c12;
	color: black;
  }

  // remove filter btn ends
  